.config-mod-ojt-topic-heading,
.mod-ojt-topic-heading {
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.2em;
}

#mod-ojt-user-ojt {
    padding-bottom: 2em;
}

.mod-ojt-topic-heading {
    padding-left: 0.8em;
}


.mod-ojt-topic-heading.collapsed {
    background: url([[pix:moodle|t/collapsed]]) no-repeat left center;
}

.mod-ojt-topic-heading.expanded {
    background: url([[pix:moodle|t/expanded]]) no-repeat left center;
}

.mod-ojt-topic-addbtn {
    float: right;
}

#config-mod-ojt-topics {
    padding-bottom: 2em;
}

.config-mod-ojt-topic-items {
    margin-left: 1em;
    font-size: 1.2em;
}

.config-mod-ojt-topic-item,
#mod-ojt-user-ojt .mod-ojt-topic-item {
    padding: 0.3em;
}

#mod-ojt-user-ojt .mod-ojt-topic-items {
    font-size: 1.2em;
    display: table;
}

#mod-ojt-user-ojt .mod-ojt-modifiedstr,
#mod-ojt-user-ojt .mod-ojt-witnessedstr,
#mod-ojt-user-ojt .mod-ojt-topic-modifiedstr {
    font-size: 0.8em;
    font-style: italic;
    color: grey;
}

#mod-ojt-user-ojt .mod-ojt-topic-signoff {
    padding-left: 1em;
}

#mod-ojt-user-ojt .mod-ojt-topic-signoff img {
    padding-left: 0.4em;
}

img.ojt-topic-completion-status {
    vertical-align: baseline;
}

#mod-ojt-user-ojt textarea.ojt-completion-comment {
    margin-left: 0;
    width: 90%;
    margin-top: 10px;
}

#ojt-eval-icon-templates {
    display: none;
}

#mod-ojt-user-ojt .mod-ojt-topic table td.c0 {
    width: 40%;
}

#mod-ojt-user-ojt .mod-ojt-topic table td.c1 {
    width: 60%;
}

.evalprint {
    float: right;
}

#mod-ojt-user-ojt .ojt-completion-comment-print {
    display: none;
}

.user-ojt-comments-warning {
    display: none;
}

.mod-ojt-evalstudents-btn,
.mod-ojt-evalself-btn {
    float: right;
}

.mod-ojt-topicitem-files {
    font-size: 0.8em;
}

/*
    LOTTHS-200 ..
    KINEO CCM
*/
.mod-ojt-topic .badge {
    color: #ffffff;
    padding: 2px 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    display: inline-block;
    font-size: 11.844px;
    font-weight: bold;
    vertical-align: baseline;
    white-space: nowrap;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    min-width: 146px;
    text-align: center;
}
.mod-ojt-topic-heading .mod-ojt-topic .badge.completionstatus0{
    background-color: #337ab7;
}

.mod-ojt-topic .badge.completionstatus2,
.mod-ojt-topic .badge.competent {
    background-color: #5cb85c;
}
.mod-ojt-topic .badge.completionstatus3,
.mod-ojt-topic .badge.notyetcompetent {
    background-color: #d9534f;
}
.mod-ojt-topic .badge.completionstatus0,
.mod-ojt-topic .badge.notassessed {
    background-color: #777;
}
.mod-ojt-topic-signoff .badge {
    margin-left: 10px;
}
.mod-ojt-topic .mod-ojt-topic-heading .badge.completionstatus0 {
    background-color: #3e2d64;
}
.mod-ojt-topic .badge.updating {
    background-color: #f0ad4e;
}
select.ojt-completion-toggle {
    margin-right: 10px;
}
#ojt-evaluate-submit-btn {
    float: right;
}
.mod-ojt-topic .badge {
    margin-left: 10px;
    margin-right: 10px;
}
/**
 * printing styles
 */


@media print {
    @page {
        margin: 25mm !important;
    }

    #block-region-side-pre,
    #block-region-side-post,
    #page-header,
    #page-footer,
    .evalprint,
    .logininfo,
    .navbar,
    textarea.ojt-completion-comment,
    .user-ojt-comments-warning,
    #totaramenu {
        display: none !important;
    }

    #region-main {
        width: 100% !important;
        padding: 0;
    }

    #mod-ojt-user-ojt .ojt-completion-comment-print {
        display: block;
    }

    #mod-ojt-user-ojt .mod-ojt-topic-heading {
        padding-left: 0;
    }

    #mod-ojt-user-ojt .mod-ojt-topic-items {
        display: table;
    }
    #mod-ojt-user-ojt .mod-ojt-topic {
        page-break-inside : avoid;
    }
}

